{% extends 'base_sub.html' %}
{% load static %}
{% block content %}

    <!-- slider section -->
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid ">
                    <div class="contact_nav">
                        <a href="tel:+998995907850">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                            Вызов : +01 123455678990
                            </span>
                        </a>
                        <a href="mailto:demo@gmail.com">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                            Почта : demo@gmail.com
                            </span>
                        </a>
                        <a href="https://www.google.com/maps/place/Toshkent+davlat+stomatologiya+instituti+eski/@41.3087803,69.299029,19.01z/data=!4m6!3m5!1s0x38aef527cfd7beab:0x41490626bc752d26!8m2!3d41.309198!4d69.2990049!16s%2Fg%2F11bzs4xs68?entry=ttu"
                           target="_blank">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Расположение
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="{% url 'main:welcome' %}">
                            <span>
                                Ритуальные услуги
                                <img src="{% static 'images/favoricon.svg' %}" alt="" width="50">
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:welcome' %}">
                                        Главная
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:service' %}">
                                        Услуги
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'main:about' %}">
                                        О нас
                                        <span class="sr-only">(current)</span>

                                    </a>

                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'main:contact' %}">
                                        Связаться с нами
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
    </div>
    <!-- end slider section -->

    <!-- contact section -->
    <section class="contact_section">
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5 offset-md-1">
                    <div class="heading_container">
                        <h2>
                            СВЯЗАТЬСЯ С НАМИ
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 offset-md-1">
                    <div class="form_container contact-form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div>
                                <input name="name" type="text" placeholder="Ваше имя"/>
                            </div>
                            <div>
                                <input name="number" type="text" placeholder="Номер телефона"/>
                            </div>
                            <div>
                                <input name="email" type="email" placeholder="Почта"/>
                            </div>
                            <div>
                                <input name="message" type="text" class="message-box" placeholder="Сообщение"/>
                            </div>
                            <div class="btn_box">
                                <button>
                                    ОТПРАВЛЯТЬ
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 px-0">
                    <div class="map_container">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe src="https://maps.google.com/maps?q=%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9%20%D0%A1%D1%82%D0%BE%D0%BC%D0%B0%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9%20%D0%98%D0%BD%D1%81%D1%82%D0%B8%D1%82%D1%83%D1%82&amp;t=k&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                                        frameborder="0" scrolling="no" style="width: 850px; height: 420px;"></iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        height: 420px;
                                        width: 850px
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        height: 420px;
                                        width: 850px
                                    }

                                    .gmap_canvas iframe {
                                        position: relative;
                                        z-index: 2
                                    }

                                    .gmap_canvas a {
                                        top: 0;
                                        z-index: 0
                                    }</style>
                                <a href="https://www.eireportingonline.com">ei reporting online</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->

{% endblock %}
