{% extends 'base_sub.html' %}
{% load static %}
{% block content %}

    <!-- slider section -->
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid ">
                    <div class="contact_nav">
                        <a href="tel:+998995907850">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                            Вызов : +01 123455678990
                            </span>
                        </a>
                        <a href="mailto:demo@gmail.com">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                            Почта : demo@gmail.com
                            </span>
                        </a>
                        <a href="https://www.google.com/maps/place/Toshkent+davlat+stomatologiya+instituti+eski/@41.3087803,69.299029,19.01z/data=!4m6!3m5!1s0x38aef527cfd7beab:0x41490626bc752d26!8m2!3d41.309198!4d69.2990049!16s%2Fg%2F11bzs4xs68?entry=ttu"
                           target="_blank">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Расположение
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="{% url 'main:welcome' %}">
                            <span>
                                Ритуальные услуги
                                <img src="{% static 'images/favoricon.svg' %}" alt="" width="50">
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:welcome' %}">
                                        Главная
                                    </a>
                                </li>
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'main:service' %}">
                                        Услуги
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:about' %}">
                                        О нас
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:contact' %}">
                                        Связаться с нами
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->
    </div>
    <!-- end slider section -->

    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container">
                    <h2>
                        Наши <span>сервисы</span>
                    </h2>
                    <p>
                        Полный спектр товаров и услуг по приемлемым ценам
                    </p>
                </div>
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-6 ">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="{{ service.image.url }}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{ service.name }}
                                    </h5>
                                    <p>
                                        {{ service.content }}
                                    </p>
                                    <a href="tel:">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->

{% endblock %}
