{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- slider section -->
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid ">
                    <div class="contact_nav">
                        <a href="tel:+998903529097" target="_blank">
                            <img src="{% static 'images/favoricon.svg' %}" alt="" width="80">
                            <h3>
                                Ритуальные услуги <br>
                                в Ташкенте
                            </h3>
                        </a>
                            <span style="color: white">
                                 Работаем круглосуточно
                            </span>

                        <pre style="color: white;"><a href="tel:+998903529097"><i class="fa fa-phone" aria-hidden="true"></i> +99890 352 90 97  Нодир</a><a href="tel:+998903529097"><i class="fa fa-phone" aria-hidden="true"></i> +99898 707 90 97</a><a href="tel:+998903529097"><i class="fa fa-phone" aria-hidden="true"></i> +99833 077 75 77</a></pre>
                    </div>
                </div>
            </div>

        </header>
        <!-- end header section -->

        <section class="slider_section ">
            <div class="slider_bg_box">
                <img src="{% static 'images/welcom.jpg' %}" alt="">
            </div>
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="detail-box">
                                        <h2 style="text-align: center; color: white;">
                                            Поможем достойно проводить близкого человека в последний путь
                                        </h2>
                                        <br>
                                        <br>

                                        <h5 style="color: #0a97b0; text-align: center;">
                                            Возьмём на себя все заботы, связанные с организацией похорон
                                        </h5>
                                        <div class="btn-box" style="text-align: center; justify-items: center; justify-content: center;">
                                            <a href="tel:+998903529097" class="btn1">
                                                Позвонить нам
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>

        </section>
    </div>
    <!-- end slider section -->

    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container">
                    <h2>
                        Наши <span>сервисы</span>
                    </h2>
                    <p>
                        Полный спектр товаров и услуг по приемлемым ценам
                    </p>
                </div>
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-6 ">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="{{ service.image.url }}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{ service.name }}
                                    </h5>
                                    <p>
                                        {{ service.content }}
                                    </p>
                                    <a href="{% url 'main:service' %}">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->

    <!-- about section -->
    <section class="about_section layout_padding-bottom">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                О <span>нас</span>
                            </h2>
                        </div>
                        <p>
                            Ритуальное агентство работает для того, чтобы освободить Вас от траурных хлопот, которые
                            весьма тяжко переносить в дни, последовавшие после смерти близких людей.
                            Наше ритуальное бюро берёт на себя все организационные моменты, связанные с погребением,
                            чтобы родственники могли проводить умершего в последний путь, не отвлекаясь на мирские
                            заботы.
                            <br>
                            Параллельно мы занимаемся отправкой и получением грузов “200” по всему миру. Мы накопили
                            большой опыт в решении сложных задач при перевозке грузов в кратчайшие сроки, соблюдая
                            мировые стандарты и учитывая особенности груза “200”
                        </p>
                        <a href="{% url 'main:about' %}">
                            читать далее
                        </a>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="{% static 'images/about.jpg' %}" alt="" style='width:100%;'>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end about section -->



    <!-- contact section -->
    <section class="contact_section">
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5 offset-md-1">
                    <div class="heading_container">
                        <h2>
                            СВЯЗАТЬСЯ С НАМИ
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 offset-md-1">
                    <div class="form_container contact-form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div>
                                <input name="name" type="text" placeholder="Ваше имя"/>
                            </div>
                            <div>
                                <input name="number" type="text" placeholder="Номер телефона"/>
                            </div>
                            <div>
                                <input name="email" type="email" placeholder="Почта"/>
                            </div>
                            <div>
                                <input name="message" type="text" class="message-box" placeholder="Сообщение"/>
                            </div>
                            <div class="btn_box">
                                <button>
                                    ОТПРАВЛЯТЬ
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 px-0">
                    <div class="map_container">

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->

{% endblock %}
