{% extends 'base.html' %}

{% load static %}

{% block content %}


    <!-- slider section -->
    <div class="hero_area">
        <!-- header section strats -->
        <header class="header_section">
            <div class="header_top">
                <div class="container-fluid ">
                    <div class="contact_nav">
                        <a href="tel:+998903529097" target="_blank">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                            Вызов : +998903529097
                            </span>
                        </a>
                        <a href="https://t.me/Ritualniyuslugi" target="_blank">
                            <i class="fa fa-telegram" aria-hidden="true"></i>
                            <span>
                                Нодир
                            </span>
                        </a>
                        <a href="https://www.google.com/maps/place/Toshkent+davlat+stomatologiya+instituti+eski/@41.3087803,69.299029,19.01z/data=!4m6!3m5!1s0x38aef527cfd7beab:0x41490626bc752d26!8m2!3d41.309198!4d69.2990049!16s%2Fg%2F11bzs4xs68?entry=ttu"
                           target="_blank">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Расположение
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            <div class="header_bottom">
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-lg custom_nav-container ">
                        <a class="navbar-brand" href="{% url 'main:welcome' %}">
                            <span>
                                Ритуальные услуги
                                <img src="{% static 'images/favoricon.svg' %}" alt="" width="50">
                            </span>
                        </a>

                        <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class=""> </span>
                        </button>

                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="{% url 'main:welcome' %}">Главная
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:service' %}"> Услуги </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:about' %}">
                                        О нас
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'main:contact' %}">
                                        Связаться с нами
                                    </a>
                                </li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </header>
        <!-- end header section -->

        <section class="slider_section ">
            <div class="slider_bg_box">
                <img src="{% static 'images/Ritualnye.jpg' %}" alt="">
            </div>
            <div id="customCarousel1" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="detail-box">
                                        <h1>
                                            Ритуальные услуги <br>
                                            в Узбекистане
                                        </h1>
                                        <h3 style="color: #0a97b0;">
                                            <i class="fa fa-clock-o"></i> Работаем круглосуточно
                                        </h3>
                                        <i class="text-white">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99890 352 90 97" class="text-white">+998903529097</a> &nbsp;
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99898 707 90 97" class="text-white">+998987079097</a> &nbsp;
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99833 077 75 77" class="text-white">+998330777577</a>
                                        </i>
                                        <div class="btn-box">
                                            <a href="tel:+998903529097" class="btn1">
                                                Позвонить нам
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="detail-box">
                                        <h1>
                                            Ритуальные услуги <br>
                                            в Узбекистане
                                        </h1>
                                        <h3 style="color: #0a97b0;">
                                            <i class="fa fa-clock-o"></i> Работаем круглосуточно
                                        </h3>
                                        <i class="text-white">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99890 352 90 97" class="text-white">+998903529097</a> &nbsp;
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99898 707 90 97" class="text-white">+998987079097</a> &nbsp;
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99833 077 75 77" class="text-white">+998330777577</a>
                                        </i>
                                        <div class="btn-box">
                                            <a href="tel:+998903529097" class="btn1">
                                                Позвонить нам
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="container ">
                            <div class="row">
                                <div class="col-md-7 ">
                                    <div class="detail-box">
                                        <h1>
                                            Ритуальные услуги <br>
                                            в Узбекистане
                                        </h1>
                                        <h3 style="color: #0a97b0;">
                                            <i class="fa fa-clock-o"></i> Работаем круглосуточно
                                        </h3>
                                        <i class="text-white">
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99890 352 90 97" class="text-white">+998903529097</a> &nbsp;
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99898 707 90 97" class="text-white">+998987079097</a> &nbsp;
                                            <i class="fa fa-phone" aria-hidden="true"></i>
                                            <a href="tel:+99833 077 75 77" class="text-white">+998330777577</a>
                                        </i>
                                        <div class="btn-box">
                                            <a href="tel:+998903529097" class="btn1">
                                                Позвонить нам
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <ol class="carousel-indicators">
                    <li data-target="#customCarousel1" data-slide-to="0" class="active"></li>
                    <li data-target="#customCarousel1" data-slide-to="1"></li>
                    <li data-target="#customCarousel1" data-slide-to="2"></li>
                </ol>
            </div>

        </section>
    </div>
    <!-- end slider section -->

    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="service_container">
            <div class="container ">
                <div class="heading_container">
                    <h2>
                        Наши <span>сервисы</span>
                    </h2>
                    <p>
                        Полный спектр товаров и услуг по приемлемым ценам
                    </p>
                </div>
                <div class="row">
                    {% for service in services %}
                        <div class="col-md-6 ">
                            <div class="box ">
                                <div class="img-box">
                                    <img src="{{ service.image.url }}" alt="">
                                </div>
                                <div class="detail-box">
                                    <h5>
                                        {{ service.name }}
                                    </h5>
                                    <p>
                                        {{ service.content }}
                                    </p>
                                    <a href="{% url 'main:service' %}">
                                        Подробнее
                                    </a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    <!-- end service section -->

    <!-- about section -->
    <section class="about_section layout_padding-bottom">
        <div class="container  ">
            <div class="row">
                <div class="col-md-6">
                    <div class="detail-box">
                        <div class="heading_container">
                            <h2>
                                О <span>нас</span>
                            </h2>
                        </div>
                        <p>
                            Ритуальное агентство работает для того, чтобы освободить Вас от траурных хлопот, которые
                            весьма тяжко переносить в дни, последовавшие после смерти близких людей.
                            Наше ритуальное бюро берёт на себя все организационные моменты, связанные с погребением,
                            чтобы родственники могли проводить умершего в последний путь, не отвлекаясь на мирские
                            заботы.
                        </p>
                        <a href="{% url 'main:about' %}">
                            читать далее
                        </a>
                    </div>
                </div>
                <div class="col-md-6 ">
                    <div class="img-box">
                        <img src="{% static 'images/about.png' %}" alt="">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <!-- end about section -->

    <!-- client section -->
    <section class="client_section layout_padding">
        <div class="container">
            <div class="heading_container">
                <h2>
                    Что говорит наш <span>клиент</span>
                </h2>
            </div>
            <div class="client_container">
                <div class="carousel-wrap ">
                    <div class="owl-carousel">
                        {% for client in clients %}
                            <div class="item">
                                <div class="box">
                                    <div class="detail-box">
                                        <p>
                                            {{ client.content }}
                                        </p>
                                    </div>
                                    <div class="client_id">
                                        <div class="img-box">
                                            <img src="{{ client.image.url }}" alt="" class="img-1">
                                        </div>
                                        <div class="name">
                                            <h6>
                                                {{ client.name }}
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- end client section -->

    <!-- contact section -->
    <section class="contact_section">
        <br><br>
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4 col-md-5 offset-md-1">
                    <div class="heading_container">
                        <h2>
                            СВЯЗАТЬСЯ С НАМИ
                        </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-5 offset-md-1">
                    <div class="form_container contact-form">
                        <form action="" method="POST">
                            {% csrf_token %}
                            <div>
                                <input name="name" type="text" placeholder="Ваше имя"/>
                            </div>
                            <div>
                                <input name="number" type="text" placeholder="Номер телефона"/>
                            </div>
                            <div>
                                <input name="email" type="email" placeholder="Почта"/>
                            </div>
                            <div>
                                <input name="message" type="text" class="message-box" placeholder="Сообщение"/>
                            </div>
                            <div class="btn_box">
                                <button>
                                    ОТПРАВЛЯТЬ
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="col-lg-7 col-md-6 px-0">
                    <div class="map_container">
                        <div class="mapouter">
                            <div class="gmap_canvas">
                                <iframe src="https://maps.google.com/maps?q=%D0%A2%D0%B0%D1%88%D0%BA%D0%B5%D0%BD%D1%82%D1%81%D0%BA%D0%B8%D0%B9%20%D0%A1%D1%82%D0%BE%D0%BC%D0%B0%D1%82%D0%BE%D0%BB%D0%BE%D0%B3%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B8%D0%B9%20%D0%98%D0%BD%D1%81%D1%82%D0%B8%D1%82%D1%83%D1%82&amp;t=k&amp;z=16&amp;ie=UTF8&amp;iwloc=&amp;output=embed"
                                        frameborder="0" scrolling="no" style="width: 850px; height: 420px;"></iframe>
                                <style>
                                    .mapouter {
                                        position: relative;
                                        height: 420px;
                                        width: 850px
                                    }

                                    .gmap_canvas {
                                        overflow: hidden;
                                        height: 420px;
                                        width: 850px
                                    }

                                    .gmap_canvas iframe {
                                        position: relative;
                                        z-index: 2
                                    }

                                    .gmap_canvas a {
                                        top: 0;
                                        z-index: 0
                                    }</style>
                                <a href="https://www.eireportingonline.com">ei reporting online</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end contact section -->

{% endblock %}
