$white: #ffffff;
$black: #000000;
$primary1: #0a97b0;
// $primary2: #1b6ca8;
$primary2: #04233b;
$textCol: #1f1f1f;

// import fonts - font-family: 'Open Sans', sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@300;400;600;700&display=swap');

@mixin main-font {
  font-family: 'Open Sans', sans-serif;
}


@mixin hero_btn($col1, $col2, $pad1, $pad2, $bRadius) {
  display: inline-block;
  padding: $pad1 $pad2;
  background-color: $col1;
  color: $col2;
  border-radius: $bRadius;
  transition: all .3s;
  border: none;

  &:hover {
    background-color: darken($color: $col1, $amount: 15);
  }
}

@mixin upperBold {
  text-transform: uppercase;
  font-weight: bold;
}


body {
  @include main-font;
  color: #0c0c0c;
  background-color: #ffffff;
  overflow-x: hidden;
}

.layout_padding {
  padding: 90px 0;
}

.layout_padding2 {
  padding: 75px 0;
}

.layout_padding2-top {
  padding-top: 75px;
}

.layout_padding2-bottom {
  padding-bottom: 75px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  h2 {
    position: relative;
    font-weight: bold;
    margin-bottom: 0;

    span {
      color: $primary1;
    }
  }

  p {
    margin-top: 10px;
    margin-bottom: 0;
  }

  &.heading_center {
    align-items: center;
    text-align: center;
  }
}

a,
a:hover,
a:focus {
  text-decoration: none;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  box-shadow: none;
}

/*header section*/
.hero_area {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.sub_page {
  .hero_area {
    min-height: auto;
  }

  .header_section {
    margin-top: 0;
    box-shadow: 0 0 10px 0 rgba($color: #000000, $alpha: .25);
  }
}

.header_section {
  .header_top {
    padding: 15px 0;
    background-color: $primary2;


    .contact_nav {
      display: flex;
      justify-content: space-between;

      a {
        color: $white;
        display: flex;
        font-size: 15px;

        i {
          margin-right: 5px;
          border-radius: 100%;
          background-color: $white;
          width: 25px;
          height: 25px;
          display: flex;
          justify-content: center;
          align-items: center;
          color: $primary1;
        }

        &:hover {
          i {
            color: $primary2;
          }
        }
      }
    }
  }

  .header_bottom {
    background-color: $white;
    padding: 15px 0;

    .container-fluid {
      padding-right: 25px;
      padding-left: 25px;
    }

  }

}


.navbar-brand {
  span {
    font-weight: bold;
    font-size: 24px;
    color: $black;
  }
}

.custom_nav-container {
  padding: 0;

  .navbar-nav {
    margin-left: auto;

    .nav-item {
      .nav-link {
        padding: 5px 20px;
        color: $black;
        text-align: center;
        text-transform: uppercase;
        border-radius: 5px;
        transition: all .3s;
      }

      &:hover,
      &.active {
        .nav-link {
          color: $primary1;
        }
      }
    }
  }
}


.custom_nav-container .nav_search-btn {
  width: 35px;
  height: 35px;
  padding: 0;
  border: none;
  color: $black;

  &:hover {
    color: $black;
  }
}


.custom_nav-container .navbar-toggler {
  outline: none;
}

.custom_nav-container .navbar-toggler {
  padding: 0;
  width: 37px;
  height: 42px;
  transition: all .3s;

  span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: $black;
    margin: 7px 0;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all .3s;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      height: 100%;
      width: 100%;
      background-color: $black;
      top: -10px;
      border-radius: 5px;
      transition: all .3s;
    }

    &::after {
      top: 10px;
    }
  }

  &[aria-expanded="true"] {
    transform: rotate(360deg);

    span {
      transform: rotate(45deg);

      &::before,
      &::after {
        transform: rotate(90deg);
        top: 0;
      }
    }

    .s-1 {
      transform: rotate(45deg);
      margin: 0;
      margin-bottom: -4px;
    }

    .s-2 {
      display: none;
    }

    .s-3 {
      transform: rotate(-45deg);
      margin: 0;
      margin-top: -4px;
    }
  }

  &[aria-expanded="false"] {

    .s-1,
    .s-2,
    .s-3 {
      transform: none;
    }
  }
}


/*end header section*/

/* slider section */
.slider_section {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;

  .slider_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    img {
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba($color: #252525, $alpha: 0.9), rgba($color: #252525, $alpha: 0.7));
    }
  }


  .row {
    align-items: center;
  }

  #customCarousel1 {
    width: 100%;
    position: unset;
  }

  .detail-box {
    color: $primary2;

    h1 {
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 15px;
      color: $white;

    }

    p {
      color: #fefefe;
      font-size: 14px;
    }

    .btn-box {
      display: flex;
      margin: 0 -5px;
      margin-top: 25px;

      a {
        margin: 5px;
        text-align: center;
        width: 165px;
      }

      .btn1 {
        @include hero_btn($primary1, $white, 10px, 15px, 0);
      }

      .btn2 {
        @include hero_btn($black, $white, 10px, 15px, 0);
      }
    }

  }


  .carousel-indicators {
    position: unset;
    margin: 0;
    justify-content: center;
    align-items: center;
    margin-top: 45px;

    li {
      background-color: $white;
      width: 12px;
      height: 12px;
      border-radius: 100%;
      opacity: 1;

      &.active {
        width: 20px;
        height: 20px;
        background-color: $primary1;
      }
    }
  }
}

// end slider section

// service section

.service_section {
  position: relative;


  .box {
    display: flex;
    margin-top: 45px;
    background-color: #f8f8f9;
    padding: 20px;
    border-radius: 5px;

    .img-box {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      width: 305px;
      min-width: 155px;
      height: auto;
      margin-right: 10px;

      img {
        max-width: 100%;
        max-height: 100%;
        transition: all .3s;
      }
    }

    .detail-box {

      h5 {
        font-weight: bold;
        text-transform: uppercase;
      }

      p {
      }

      a {
        color: $primary2;
        font-weight: 600;

        &:hover {
          color: $primary1;
        }
      }
    }

    &:hover {
    }
  }
}

// end service section

// about section
.about_section {

  .row {
    align-items: center;
  }

  .img-box {
    position: relative;

    img {
      max-width: 100%;
      position: relative;
      z-index: 2;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      width: 45px;
      height: 70%;
      background-color: $primary2;
      z-index: 3;
    }

    &::before {
      left: 0;
      z-index: 1;
      transform: translate(-50%, -50%);
    }

    &::after {
      right: 0;
      z-index: 1;
      transform: translate(50%, -50%);
    }
  }

  .detail-box {
    p {
      color: $textCol;
      margin-top: 15px;
    }

    a {
      @include hero_btn($primary1, $white, 10px, 45px, 0px);
      margin-top: 15px;
    }
  }
}

// end about section

// track section

.track_section {
  position: relative;
  color: $white;

  .track_bg_box {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;

    img {
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to right, rgba($color: #252525, $alpha: 0.95), rgba($color: #252525, $alpha: 0.55));
    }
  }

  p {
    font-size: 14px;
    margin-top: 15px;
    margin-bottom: 25px;
  }

  form {
    display: flex;
    align-items: stretch;

    input {
      background-color: $white;
      border: none;
      flex: 2.5;
      outline: none;
      color: $black;
      min-height: 42.4px;
      padding-left: 15px;

      ::placeholder {
        color: $white;
        opacity: 0.2;
      }
    }


    button {
      flex: 1;
      @include hero_btn($primary1, $white, 9px, 30px, 0);
      font-size: 15px;
      text-transform: uppercase;
    }
  }

}

// end track section

// client section

.client_section {


  .client_container {
    width: 75%;
    margin-top: 45px;
  }

  .box {
    display: flex;
    flex-direction: column;
    margin-right: 5px;

    .detail-box {
      border: 1px solid #dddddd;
      padding: 25px;
      margin-bottom: 25px;
    }

    .client_id {
      display: flex;
      align-items: center;

      .img-box {
        position: relative;
        width: 75px;
        height: 75px;

        img {
          width: 100%;
        }

      }

      .name {
        margin-left: 15px;

        h6 {
          color: #23242a;
          font-size: 18px;
          margin-bottom: 0;
        }

        p {
          margin-bottom: 0;
        }
      }
    }

  }

  .carousel-wrap {
    margin: 0 auto;
    position: relative;
  }

  .owl-carousel .owl-nav .owl-prev,
  .owl-carousel .owl-nav .owl-next {
    width: 50px;
    height: 50px;
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    right: -15%;
    outline: none;
    background-color: $primary1;

    &:hover {
      background-color: #161825;
    }
  }

  .owl-carousel .owl-nav .owl-prev {
    top: 25%;
    background-image: url(../images/prev.png);
  }

  .owl-carousel .owl-nav .owl-next {
    top: calc(25% + 65px);
    background-image: url(../images/next.png);

  }
}

// end client section


// contact section
.contact_section {
  position: relative;
  padding-bottom: 90px;

  .heading_container {
    margin-bottom: 25px;

    h2 {
      text-transform: uppercase;
    }
  }


  .form_container {
    margin-right: 15px;

    input {
      width: 100%;
      border: none;
      height: 50px;
      margin-bottom: 25px;
      padding-left: 15px;
      outline: none;
      color: #101010;
      box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: .15);

      &::placeholder {
        color: $primary2;
      }

      &.message-box {
        height: 120px;
      }
    }

    button {
      border: none;
      text-transform: uppercase;
      @include hero_btn($primary1, $white, 12px, 55px, 5px);
    }
  }

  .map_container {
    height: 420px;
    overflow: hidden;
    display: flex;
    align-items: stretch;
    padding: 0;

    .map {
      height: 100%;
      flex: 1;

      #googleMap {
        height: 100%;
      }
    }
  }
}

// end contact section


// info section
.info_section {
  background-color: $primary2;
  color: $white;
  padding: 45px 0 15px 0;

  h4 {
    font-weight: 600;
    margin-bottom: 20px;
  }

  .info_col {
    margin-bottom: 30px;
  }

  .info_contact {

    .contact_link_box {
      display: flex;
      flex-direction: column;

      a {
        margin: 5px 0;
        color: $white;

        i {
          margin-right: 5px;
        }

        &:hover {
          color: $primary1;
        }
      }
    }
  }

  .info_social {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      color: $white;
      border-radius: 100%;
      margin-right: 10px;
      font-size: 24px;

      &:hover {
        color: $primary1;
      }
    }
  }

  .info_links {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

    a {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
      color: $white;

      &:hover {
        color: $primary1;
      }
    }
  }


  form {
    input {
      border: none;
      border-bottom: 1px solid $white;
      background-color: transparent;
      width: 100%;
      height: 45px;
      color: $white;
      outline: none;

      &::placeholder {
        color: $white;
      }
    }

    button {
      width: 100%;
      text-align: center;
      @include hero_btn($primary1, $white, 10px, 55px, 0);
      margin-top: 15px;
    }
  }
}

// end info section

/* footer section*/

.footer_section {
  position: relative;
  background-color: $white;
  text-align: center;

  p {
    color: $primary2;
    padding: 25px 0;
    margin: 0;

    a {
      color: inherit;
    }
  }
}


#rt_services {
  padding: 120px 0;
  background: #f9f9f9
}

#rt_services .caption-box {
  list-style-type: none;
  margin: 0;
  padding: 0
}

@media only screen and (max-width: 1200px) {
  #rt_services .caption-box {
    width: 100%;
    float: left;
    margin-bottom: 20px
  }
}

#rt_services .caption-box img {
  margin: 0;
  padding: 0;
  float: left;
  z-index: 4
}

@media only screen and (max-width: 1200px) {
  #rt_services .caption-box img {
    width: 100%
  }
}

#rt_services .caption-box .caption {
  cursor: pointer;
  position: absolute;
  opacity: 0;
  transition: all .45s ease-in-out
}

@media only screen and (max-width: 1200px) {
  #rt_services .caption-box .caption {
    width: 100%
  }
}

#rt_services .caption-box .blur {
  background-color: #c29f24;
  height: 100%;
  min-height: 100vh;
  width: 100%;
  z-index: 5;
  position: absolute
}

@media only screen and (max-width: 767px) {
  #rt_services .caption-box .blur {
    width: 130%
  }
}

#rt_services .caption-box .caption-wrapper {
  float: left;
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 370px;
  height: 250px;
  background-size: cover !important;
  background-repeat: no-repeat !important
}

@media only screen and (max-width: 1200px) {
  #rt_services .caption-box .caption-wrapper {
    width: 100%
  }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
  #rt_services .caption-box .caption-wrapper {
    height: 350px
  }
}

#rt_services .caption-wrapper:hover .caption, #rt_services .latest-cases a:hover .caption-wrapper .caption {
  opacity: 1
}

#rt_services .arrow-cricle {
  border: solid 1px rgba(47, 12, 152, .3);
  width: 26px;
  height: 26px;
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  line-height: 24px;
  transition: all .45s ease-in-out;
  position: relative
}

#rt_services .arrow-cricle i {
  color: #296c96;
  font-size: 16px;
  transition: all .45s ease-in-out;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-25%, -45%)
}

#rt_services .arrow-cricle:hover, #rt_services .latest-cases a:hover .arrow-cricle {
  background: #fff;
  border-color: #fff
}

#rt_services .latest-cases {
  margin: 84px auto
}

#rt_services .latest-cases .heading-label {
  border-bottom: solid 1px rgba(208, 210, 209, .2);
  display: block;
  margin: 0 auto;
  text-align: center
}

#rt_services .latest-cases .heading-label span {
  min-width: 196px;
  background: #fff;
  padding: 5px 20px;
  color: #898989;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  display: inline-block
}

#rt_services .latest-cases a {
  overflow: hidden;
  display: block;
  margin: 43px auto 0
}

#rt_services .heading-arrow {
  transition: all .45s ease-in-out;
  display: block;
  overflow: hidden;
  padding: 20px 0 53px;
  border-top: solid 4px rgba(255, 255, 255, .5)
}

#rt_services .heading-arrow h3 {
  font-size: 20px;
  line-height: 30px
}

#rt_services .heading-arrow h3, #rt_services .heading-arrow .arrow-cricle {
  float: left;
  color: #fff;
  font-weight: 600;
  margin: 0 auto
}

#rt_services .heading-arrow .arrow-cricle {
  float: right;
  text-align: center;
  color: #fff;
  border-color: #ffffff80
}

#rt_services .heading-arrow .arrow-cricle i {
  color: #fff
}

#rt_services .arrow-cricle:hover i, #rt_services .latest-cases a:hover .arrow-cricle i {
  color: #c29f24
}

#rt_services .latest-cases a:hover .heading-arrow {
  border-color: #c29f24
}

#rt_services .caption-wrapper .caption-text {
  width: 100%;
  height: 100%;
  color: #fff;
  position: relative;
  z-index: 20;
  padding: 20px
}

#rt_services .caption-wrapper .caption-text p {
  color: #fff
}

#rt_services .overlay-content {
  position: absolute;
  top: -4px;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #105c8e66
}

#rt_services .overlay-content .heading-arrow {
  position: absolute;
  bottom: 20px;
  padding: 10px 20px;
  width: 100%;
  border: none
}

#rt_services .overlay-content .heading-arrow h3 {
  border-bottom: solid 4px #C29F24;
  padding-bottom: 10px;
  width: 68%;
  font-weight: 800
}

#rt_services .practice-areas .caption-text .heading-arrow {
  padding: 0 0 10px;
  border: none
}

#rt_services .practice-areas .caption-text .heading-arrow h3 {
  border-bottom: solid 4px #C2B256;
  padding-bottom: 10px;
  width: 68%;
  font-weight: 800
}

#rt_services .practice-areas .col-lg-4 {
  margin-top: 15px;
  margin-bottom: 15px
}

#rt_services .practice-areas .col-lg-4 a:hover .heading-arrow .arrow-cricle {
  background: #fff
}

#rt_services .practice-areas .col-lg-4 a:hover .heading-arrow .arrow-cricle i {
  color: #c29f24
}

#rt_services .practice-areas .heading-label {
  margin-bottom: 65px
}

#rt_services .practice-areas .heading-label span {
  background: #C29F24;
  color: #fff
}


.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto
}

@media (min-width: 768px) {
  .container {
    width: 750px
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px
  }
}


.container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
  margin-right: -15px;
  margin-left: -15px
}

@media (min-width: 768px) {
  .container-fluid > .navbar-collapse, .container-fluid > .navbar-header, .container > .navbar-collapse, .container > .navbar-header {
    margin-right: 0;
    margin-left: 0
  }
}


@media (min-width: 768px) {
  .navbar > .container .navbar-brand, .navbar > .container-fluid .navbar-brand {
    margin-left: -15px
  }
}


.container .jumbotron, .container-fluid .jumbotron {
  padding-right: 15px;
  padding-left: 15px;
  border-radius: 6px
}

.jumbotron .container {
  max-width: 100%
}

@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px
  }

  .container .jumbotron, .container-fluid .jumbotron {
    padding-right: 60px;
    padding-left: 60px
  }

  .jumbotron .h1, .jumbotron h1 {
    font-size: 63px
  }
}


@media only screen and (min-width: 520px) and (max-width: 620px) {
  .container {
    width: 480px
  }
}

.expect-wrapper .container {
  padding: 0 100px
}

@media only screen and (max-width: 991px) {
  .expect-wrapper .container {
    padding: 0 15px
  }
}

.row {
  margin-right: -15px;
  margin-left: -15px
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .modal-header:after, .modal-header:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before {
  display: table;
  content: " "
}

.btn-group-vertical > .btn-group:after, .btn-toolbar:after, .clearfix:after, .container-fluid:after, .container:after, .dl-horizontal dd:after, .form-horizontal .form-group:after, .modal-footer:after, .modal-header:after, .nav:after, .navbar-collapse:after, .navbar-header:after, .navbar:after, .pager:after, .panel-body:after, .row:after {
  clear: both
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
    float: left
  }

  .col-sm-12 {
    width: 100%
  }
}

@media only screen and (max-width: 991px) {
  .case_studies .latest-cases .grid-masonry .col-lg-4.col-sm-12.grid-item {
    width: 100%
  }
}


#rt_services .practice-areas .caption-text .heading-arrow {
  padding: 0 0 10px;
  border: none
}

#rt_services .practice-areas .caption-text .heading-arrow h3 {
  border-bottom: solid 4px #C2B256;
  padding-bottom: 10px;
  width: 68%;
  font-weight: 800
}

#rt_services .practice-areas .col-lg-4 {
  margin-top: 15px;
  margin-bottom: 15px
}

#rt_services .practice-areas .col-lg-4 a:hover .heading-arrow .arrow-cricle {
  background: #fff
}

#rt_services .practice-areas .col-lg-4 a:hover .heading-arrow .arrow-cricle i {
  color: #c29f24
}

#rt_services .practice-areas .heading-label {
  margin-bottom: 65px
}

#rt_services .practice-areas .heading-label span {
  background: #C29F24;
  color: #fff
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
    float: left
  }
  .col-lg-4 {
    width: 33.33333333%
  }
}

@media only screen and (max-width: 991px) {
    .case_studies .latest-cases .grid-masonry .col-lg-4.col-sm-12.grid-item {
        width: 100%
    }
}


#rt_banner.banner_cases .caption-box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%
}

#rt_banner.banner_cases .caption-box img {
    margin: 0;
    padding: 0;
    float: left;
    z-index: 4;
    width: 100%
}

#rt_banner.banner_cases .caption-box .caption-wrapper {
    float: left;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background-size: cover !important;
    background-repeat: no-repeat !important
}

#rt_banner.banner_cases .caption-box .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: all .45s ease-in-out
}

#rt_banner.banner_cases .caption-box .blur {
    background-color: #c29f24;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute
}


.case_studies .caption-box {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: left;
    width: 100%
}

.case_studies .caption-box img {
    margin: 0;
    padding: 0;
    float: left;
    z-index: 4;
    width: 100%
}

.case_studies .caption-box .caption-wrapper {
    float: left;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 250px;
    background-size: cover !important;
    background-repeat: no-repeat !important
}

.case_studies .caption-box .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: all .45s ease-in-out
}

.case_studies .caption-box .blur {
    background-color: #c29f24;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute
}


#rt_services .caption-box {
    list-style-type: none;
    margin: 0;
    padding: 0
}

@media only screen and (max-width: 1200px) {
    #rt_services .caption-box {
        width: 100%;
        float: left;
        margin-bottom: 20px
    }
}

#rt_services .caption-box img {
    margin: 0;
    padding: 0;
    float: left;
    z-index: 4
}

@media only screen and (max-width: 1200px) {
    #rt_services .caption-box img {
        width: 100%
    }
}

#rt_services .caption-box .caption {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    transition: all .45s ease-in-out
}

@media only screen and (max-width: 1200px) {
    #rt_services .caption-box .caption {
        width: 100%
    }
}

#rt_services .caption-box .blur {
    background-color: #c29f24;
    height: 100%;
    min-height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute
}

@media only screen and (max-width: 767px) {
    #rt_services .caption-box .blur {
        width: 130%
    }
}

#rt_services .caption-box .caption-wrapper {
    float: left;
    padding: 0;
    position: relative;
    overflow: hidden;
    width: 370px;
    height: 250px;
    background-size: cover !important;
    background-repeat: no-repeat !important
}

@media only screen and (max-width: 1200px) {
    #rt_services .caption-box .caption-wrapper {
        width: 100%
    }
}

@media only screen and (min-width: 767px) and (max-width: 1200px) {
    #rt_services .caption-box .caption-wrapper {
        height: 350px
    }
}



// end footer section