<!DOCTYPE html>
{% load static %}
<html lang="ru">

<head>
    <!-- Basic -->
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <!-- Site Metas -->
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <link rel="shortcut icon" href="{% static 'images/favoricon.svg' %}" type=''>

    <title> Ритуальные услуги в Ташкенте </title>
    <meta name="og:url" content="">
    <meta name="og:title" content="РИТУАЛЬНЫЕ УСЛУГИ В ТАШКЕНТЕ И ОБЛАСТИ">
    <meta name="og:description" content="">
    <meta name="og:image" content="{% static 'images/favoricon.svg' %}">
    <meta name="title" content="РИТУАЛЬНЫЕ УСЛУГИ В ТАШКЕНТЕ И ОБЛАСТИ">
    <meta name="description" content="">

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.css' %}"/>

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">


    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css"/>

    <!-- font awesome style -->
{#    <link href="{% static 'css/atana.uz_build_assets_app.786e74ee.css' %}" rel="stylesheet"/>#}

    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet"/>
{#    <link href="{% static 'css/fonts.googleapis.com_css_family=Montserrat_100,200,300,400,500,600,700,800,900.css' %}" rel="stylesheet"/>#}
{#    <link href="{% static 'css/fonts.googleapis.com_css_family=Playfair+Display_400,400i,700,700i,900,900i.css' %}" rel="stylesheet"/>#}

    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet"/>
    <!-- responsive style -->
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>

</head>

<body>

{% block content %}

{% endblock %}

<!-- info section -->

<section class="info_section layout_padding2">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_contact">
                    <h4>
                        Адрес
                    </h4>
                    <div class="contact_link_box">
                        <a target="_blank" href="https://www.google.com/maps/place/Toshkent+davlat+stomatologiya+instituti+eski/@41.3082914,69.2994367,17z/data=!4m6!3m5!1s0x38aef527cfd7beab:0x41490626bc752d26!8m2!3d41.309198!4d69.2990049!16s%2Fg%2F11bzs4xs68?entry=ttu">
                            <i class="fa fa-map-marker" aria-hidden="true"></i>
                            <span>
                                Расположение
                            </span>
                        </a>
                        <a href="tel:+998995907850">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <span>
                                Вызов : +01 1234567890
                            </span>
                        </a>
                        <a href="mailto:ergashovbotirjon4@gmail.com">
                            <i class="fa fa-envelope" aria-hidden="true"></i>
                            <span>
                  demo@gmail.com
                </span>
                        </a>
                    </div>
                </div>
                <div class="info_social">
                    <a href="">
                        <i class="fa fa-facebook" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-linkedin" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-instagram" aria-hidden="true"></i>
                    </a>
                    <a href="">
                        <i class="fa fa-telegram" aria-hidden="true"></i>
                    </a>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col">
                <div class="info_detail">
                    <h4>
                        Информация
                    </h4>
                    <p>
                        Морфологический корпус Ташми, ул. Тараккиет, 103, г. Ташкент, Узбекистан
                    </p>
                </div>
            </div>
            <div class="col-md-6 col-lg-2 mx-auto info_col">
                <div class="info_link_box">
                    <h4>
                        Ссылки
                    </h4>
                    <div class="info_links">
                        <a class="active" href="#">
                            Главная
                        </a>
                        <a class="" href="{% url 'main:service' %}">
                            Услуги
                        </a>
                        <a class="" href="{% url 'main:about' %}">
                            О нас
                        </a>
                        <a class="" href="{% url 'main:contact' %}">
                            Связаться с нами
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 info_col ">
                <h4>
                    Подписаться
                </h4>
                <form action="#" method="post">
                    <input type="email" placeholder="Введите почту"/>
                    <button type="submit">
                        Подписаться
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>

<!-- end info section -->

<!-- footer section -->
<section class="footer_section">
    <div class="container">
        <p>
            &copy; <span id="displayYear"></span>. Все права защищены.
            <a href="https://github.com/TalantDeveloper">TalantDeveloper</a>
        </p>
    </div>
</section>
<!-- footer section -->

<!-- jQery -->
<script type="text/javascript" src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<!-- popper js -->
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
</script>
<!-- bootstrap js -->
<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>
<!-- owl slider -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js">
</script>
<!-- custom js -->
<script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
<!-- Google Map -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCh39n5U-4IoWpsVGUHWdqB6puEkhRLdmI&callback=myMap">
</script>
<!-- End Google Map -->

</body>

</html>